body {
	background: #fff;
	font-family: Arial;
	padding: 0;
	margin: 0;
}

h1 {
	font-size: 28pt;
	font-weight: normal;
	margin: 0;
	color: #61210F;
}

h2 {
	font-size: 13pt;
	font-weight: normal;
	font-style: italic;
	color: #C17767;
	margin: 5px 0 0 0;
}

h3 {
	font-size: 12pt;
	font-weight: bold;
	color: #333;
	margin: 10px 0 0 0;
	padding: 0;
}

#strip {
	width: 100%;
	padding: 0;
	margin: 0;
	height: 5px;
	background: #61210F;
}

#content {
	width: 95%;
	margin: 0 auto;
	padding: 50px 5px 0 5px;
}


#nav {
	width: 100%;
	margin: 0 auto;
}

#nav ul {
	padding: 0;
	margin: 0;
}

#nav ul li {
	padding: 10px;
	margin: 0;
	list-style-type: none;
	display: inline-block;
	color: #61210F;
}

p {
	padding: 0;
	margin: 0;
	line-height: 1.5em;
	color: #0C1713;
	font-size: 11pt;
	width: 100%;
}

.center {
	text-align: center;
	margin: 0 auto;
}

a {
	color: #61210F;
}

a:hover {
	color: #0C1713;
}

#nav ul li a {
	text-decoration: none;
	font-weight: bold;
}

#nav ul li:hover {
	background: #61210F;
}

#nav ul li:hover a {
	color: #fff;
}

#nav ul li a:hover {
	color: #fff;
}

#content ul li {
	line-height: 1.5em;
	margin: 0 0 .5em 0;
	padding: 0 10px 0 10px;
	font-size: 11pt;
	color: #0C1713;
}

#content ul {
	margin: 1em 0 2.5em 0;
}

#content ul li ul {
	margin: 1em 0 1em 0;
}

#me {
	border-radius: 10%;
	margin: 0 15px 15px 0;
}

p {
	margin: 0 0 1em 0;
}

